<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS Boarding Pass</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head>
<body>

<div class="bg">
<div class="wrapper">
  </div>
    <div class="content">
      <div class="location">
        <div class="item">
          <h1><%= origin_airport%></h1>
          <p><%= departure_time%></p>
        </div>
        <div class="path">
          <i class="fas fa-plane"></i>
        </div>
        <div class="item">
          <h1><%= destination_airport%></h1>
          <p><%= arrival_time%> </p>
        </div>
      </div>
      
      <div class="info">
        <div class="item">
          <h4>Name</h4>
          <p><%= name_passenger%></p>
        </div>
        <div class="item">
          <h4>Duration</h4>
          <p><%= duration_time%></p>
        </div>
        <!-- <div class="item">
          <h4>gate</h4>
          <p>12</p>
        </div> -->
        <div class="item">
          <h4>Passenger</h4>
          <p>1</p>
        </div>
        <div class="item">
          <h4>Date</h4>
          <p><%= departure_date%></p>
        </div>
      </div>
  </div>
</div>
</div>

</body>
</html>